.container-fluid img{
    border-radius: 10px;
}

.full-banner {
    width: 100%;
    background: url(../IMG/img/fundo.jpg) 0 0 no-repeat;
    background-size: cover;
}

.pos-0 {
    top: 0;
    left: 0;
    right: 0;
}

#login {
    background-color: rgba(0,0,0, 0.8);
    border-radius: 10px;
}

#login input::placeholder {
    color: rgb(191, 191, 191);
}